.support {
  width: 100%;
  float: left;
  background: #24262b;
  padding: 25px;
}

.support .left {
  width: calc(40% - 40px);
  float: left;
  margin: 0 40px 0 0;
}

.support .main {
  width: 60%;
  float: left;
}

.support .left button.new,
.support .main button.send,
.support .main .container .input div button {
  width: 100%;
  float: left;
  padding: 10px 0;
  background: var(--site-color-main);
  text-align: center;
  font-weight: 600;
  border-radius: 6px;
  color: #fff;
  margin: 0 0 20px;
}

.support .left button.new:hover,
.support .main button.send:hover,
.support .main .container .input div button:hover {
  cursor: pointer;
  opacity: .8;
}

.support .left .ticket {
  width: 100%;
  float: left;
  background: #1c1e22;
  position: relative;
  text-align: left;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 6px;
}

.support .left .ticket:hover {
  cursor: pointer;
}

.support .left .ticket p {
  margin: 0;
}

.support .left .ticket p.big {
  font-size: 16px;
  font-weight: 600;
  max-width: calc(100% - 100px);
}

.support .left .ticket p.small {
  font-size: 14px;
  color: #8f9bad;
}

.support .left .ticket p.date {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
  color: #8f9bad;
  text-align: right;
}

.support .left .ticket i {
  position: absolute;
  bottom: 10;
  right: 10px;
  color: #ff2d2d;
}

.support .main label,
.support .main input,
.support .main select,
.support .main textarea,
.support .main .container .msg .info,
.support .main .container .msg .content {
  width: 100%;
  float: left;
}

.support .main label {
  color: #8f9bad;
  font-weight: 600;
  text-align: left;
  margin: 0 0 5px;
}

.support .main input,
.support .main select {
  background: #1c1e22;
  outline: 0;
  border: 0;
  height: 40px;
  line-height: 40px;
  color: #fff;
  margin: 0 0 15px;
  padding: 0 10px;
  border-radius: 6px;
}

.support .main textarea {
  background: #1c1e22;
  border-radius: 6px;
  resize: vertical;
  min-height: 150px;
  padding: 10px;
  margin: 0 0 15px;
}

.support .main .container {
  width: 100%;
  float: left;
  background: #1c1e22;
  height: 750px;
  overflow: hidden;
  border-radius: 6px;
  padding: 15px;
  position: relative;
}

.support .main .container .msg {
  float: right;
  max-width: 75%;
  margin: 0 0 40px;
}

.support .main .container .msg .content {
  background: #17181a;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  margin: 6px 0 0;
  color: #d0d8e5;
}

.support .main .container .msg.support {
  float: left;
}

.support .main .container .msg.support .content {
  color: #fff;
  border: 2px solid var(--site-color-main);
}

.support .main .container .msg .info div {
  float: right;
  line-height: 21px;
  color: #8f9bad;
}

.support .main .container .msg .info p {
  float: left;
  margin: 0;
  font-weight: 600;
}

.support .main .container .input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 15px 0;
}

.support .main .container .input textarea {
  width: 100%;
  float: left;
  background: #24262b;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  resize: none;
  min-height: unset;
  height: 80px;
}

.support .main .container .input div {
  width: 100%;
  float: left;
}

.support .main .container .input div button {
  width: auto;
  padding: 10px 20px;
}

.support .main .container .input div button.send {
  float: right;
}

.support .main .container .input div button.close {
  float: left;
  background: #8f9bad;
}

.support .main .container .msg_container {
  width: 100%;
  float: left;
  height: calc(750px - 170px);
  overflow: auto;
}

.support .main .container .msg_container.full {
  height: 735px;
}